<div class="ex-page">
  <div class="bar">
    <a class="menu text-gray">
      <i class="icon">&#xe60e;</i>
    </a>
    <h1 class="title"><b>Feedback</b></h1>
  </div>
  <div class="feedback ">
    <div class="mark">
      <i class="icon text-success">&#xe696;</i>
    </div>
    <h3 class="title">操作成功</h3>
    <div class="describe">内容详情，可根据实际需要安排，居中展现。内容详情，可根据实际需要安排，居中展现。<a class="link" href="javascript:;">文字链接</a></div>

    <div class="vspace hspace">
      <a class="button success" href="javascript:history.back();">推荐操作</a>
      <a class="button default" href="javascript:history.back();">辅助操作</a>
    </div>
  </div>
</div>
