.actionsheet {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition-property: transform;
  transition-duration: .3s;

  // header
  & > .header {
    position: relative;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    background-color: #fff;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    color: @textColorGray;

    &:after {
      .borderBottom();
    }

    & + .menus {
      margin-top: 0;

      & > .item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

    }

  }

  // menus
  & > .menus {
    margin: 10px;

    &  > .item {
      position: relative;
      text-align: center;
      cursor: pointer;
      line-height: 44px;
      font-size: 18px;
      background-color: #fff;

      & > .button {
        border-radius: 0;
        font-size: 18px;

        &:after {
          content: none;
        }

      }

      & > [class="button"] {
        color: inherit;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:active {
        background-color: @tapColor;
      }

      + .item:before {
        .borderTop();
      }

    }

  }

}

// ActionSheet
.ex-widget-enter {
  .actionsheet {
    transform: translate3d(0, 100%, 0);
  }

  &.ex-widget-enter-active {
    .actionsheet {
      transform: translate3d(0, 0, 0);
    }

  }

}

.ex-widget-leave {
  .actionsheet {
    transform: translate3d(0, 0, 0);
  }

  &.ex-widget-leave-active {
    .actionsheet {
      transform: translate3d(0, 100%, 0);
    }

  }

}
