@import "../base/fn";

@keyframes ex-kf-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ex-kf-bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.ex-bounce {
  animation: ex-kf-bounce ease .3s forwards;
}
// 页入
.ex-view-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);

  &.ex-view-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
// 页出
.ex-view-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);

  &.ex-view-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
