@import "../base/fn";

.grid {
  position: relative;
  overflow: hidden;

  &:before {
    .borderTop(@gridBorderColor);
  }

  &:after {
    .borderLeft(@gridBorderColor);
  }

  > .item {
    position: relative;
    cursor: pointer;
    padding: 20px 10px;
    float: left;
    width: 100% / @gridColumnCount;
    color: @gridTextColor;

    &:before {
      .borderRight(@gridBorderColor);
    }

    &:after {
      .borderBottom(@gridBorderColor);
    }

    &:active {
      background-color: @tapColor;
    }

    > .icon {
      display: block;
      margin: 0 auto;
      width: @gridIconSize;
      height: @gridIconSize;
      line-height: @gridIconSize;
      font-size: @gridIconSize;

      > img {
        display: block;
        width: 100%;
        height: 100%;
      }

      + .label {
        margin-top: 8px;
      }

    }

    > .label {
      display: block;
      text-align: center;
      .ellipsis();
      font-size: @gridFontSize;
    }

  }

  &[ui-mode="2"] {
    > .item {
      width: 100% / 2;
    }

  }

  &[ui-mode="4"] {
    > .item {
      width: 100% / 4;
    }

  }

  &[ui-mode="5"] {
    > .item {
      width: 100% / 5;
    }

  }

}
