@import "../base/fn";
.navbar {
  .setFlex(center, item);
  width: 100%;
  font-size: 15px;
  position: relative;
  text-align: center;
  transform: translate3d(0, 0, 0);
  height: @navbarHeight;
  background-color: @navbarBgColor;
  &:before {
    .borderTop();
    z-index: 10;
  }
  &:after {
    .borderBottom();
  }
  > .item {
    position: relative;
    color: inherit;
    cursor: pointer;
    line-height: @navbarHeight;
    &.active, &:active {
      background-color: @tapColor;
    }
    &:not(:first-child):after {
      .borderLeft();
    }
  }
  &.underline {
    > .item {
      &:after {
        content: none;
      }
      &.active {
        background-color: transparent;
        &:before {
          content: ' ';
          position: absolute;
          z-index: 10;
          width: 100%;
          left: 0;
          bottom: 0;
          border-bottom-width: 2px;
          border-bottom-style: solid;
        }
      }
    }
  }
  &.driving > .item.active {
    color: @textColorOrange;
    &:before {
      border-color: @textColorOrange;
    }
  }
  &.primary > .item.active {
    color: @textColorBlue;
    &:before {
      border-color: @textColorBlue;
    }
  }
  &.success > .item.active {
    color: @textColorGreen;
    &:before {
      border-color: @textColorGreen;
    }
  }
}