@import "../base/fn";

.tabbar {
  .setFlex(center, item);
  width: 100%;
  bottom: 0;
  text-align: center;
  transform: translate3d(0, 0, 0);
  height: @tabbarHeight;
  background-color: @tabbarBgColor;

  &:before {
    .borderTop();
  }

  > .item {
    cursor: pointer;
    text-align: center;
    line-height: 1;
    // padding: 6px 0 3px;
    color: @tabTextColor;

    &.active {
      color: @textColorOrange;
    }

    .icon {
      display: block;
      margin: 4px auto 6px;
      font-size: @tabIconSize;
      width: @tabIconSize;
      height: @tabIconSize;
    }

    .label {
      display: block;
      font-size: @tabFontSize;
    }

  }

}
