<div class="ex-page">
  <div class="divider" ui-mode="20%">底部通栏</div>

  <footer class="bar">
    <div class="text text-md text-driving">总价:￥120.93</div>
    <button class="button driving square inline text-md">立即下单</button>
  </footer>

  <div class="divider" ui-mode="20%">底部通栏</div>

  <footer class="bar">
    <div class="text text-md text-driving">总价:￥120.93</div>
    <div class="button-group compact">
      <button class="button guiding square text-md">加入购物车</button>
      <button class="button driving square text-md">立即购买</button>
    </div>
  </footer>

  <div class="divider" ui-mode="20%">底部通栏</div>

  <footer class="bar">
    <div class="button-group compact">
      <button class="button default square text-md">取消订单</button>
      <button class="button driving square text-md">继续支付</button>
    </div>
  </footer>

  <div class="divider" ui-mode="20%">底部通栏</div>

  <footer class="bar">
    <button class="button guiding square text-md">立即下单</button>
  </footer>

  <div class="divider" ui-mode="20%">吸底通栏</div>

  <footer class="bar btm-fixed">
    <div class="cell">
      <img width="24" height="24" src="//img1.qdingnet.com/aac991d5c68b8d20fc1b0ef28f048ee9.png" />
    </div>
    <div class="cell">
      <img width="24" height="24" src="//img1.qdingnet.com/705aed821745754bc94eab423f40fb4c.png" />
    </div>
    <div class="button-group compact">
      <button class="button guiding square text-md">加入购物车</button>
      <button class="button driving square text-md">立即购买</button>
    </div>
  </footer>
</div>
