<div class="ex-page">
  <header class="bar">
    <a class="menu text-gray">
      <i class="icon">&#xe60e;</i>
    </a>
    <h1 class="title"><b>竹杖芒鞋轻胜马</b></h1>
  </header>

  <div class="divider" ui-mode="20%">多个ICON</div>

  <header class="bar">
    <a class="menu text-gray">
      <i class="icon">&#xe60e;</i>
    </a>
    <h1 class="title"><b>一蓑烟雨任平生</b></h1>
    <a class="menu text-primary">
      <i class="icon">&#xe60a;</i>
    </a>
  </header>

  <div class="divider" ui-mode="20%">多个ICON</div>

  <header class="bar">
    <a class="menu text-gray">
      <i class="icon">&#xe60e;</i>
    </a>
    <h1 class="title"><b>回首向来萧瑟处</b></h1>
    <a class="menu text-primary">
      <i class="icon">&#xe61f;</i>
    </a>
    <a class="menu text-primary">
      <i class="icon">&#xe620;</i>
    </a>
  </header>

  <div class="divider" ui-mode="20%">多个ICON</div>

  <header class="bar">
    <a class="menu">
      <i class="icon text-gray">&#xe60e;</i>
    </a>
    <a class="menu">
      <i class="icon text-gray">&#xe61f;</i>
    </a>
    <h1 class="title"><b>也无风雨也无晴</b></h1>
    <a class="menu text-primary">
      <span class="label">下一步</span>
      <i class="icon">&#xe61a;</i>
    </a>
  </header>
</div>
