<div class="ex-page">
  <div class="page-header">
    <h4>Article</h4>
    <p class="text-gray text-sm">文章</p>
  </div>
  
  <article class="article">
    <h1>大标题</h1>
    <section>
      <h2 class="title">1. 章标题</h2>
      <section>
        <h3>1.1 节标题</h3>
        <p>
          我常以“人就这么一辈子”这句话来告诫自己并劝说朋友。这七个字，说来容易，听来简单，想起来却很深沉；它能使我在懦弱时变的勇敢，骄矜时变得谦虚，颓废时变得积极，痛苦时变得欢愉，对任何事拿得起也放得下，所以我称它为“当头棒喝”、“七字箴言”。
        </p>
        <p>
          <img src="./images/750-2.jpg" alt="" />
          <img src="./images/750-3.jpg" alt="" />
        </p>
      </section>
      <section>
        <h3>1.2 节标题</h3>
        <p>
          人不就这么一辈子吗？生不带来、死不带去的一辈子，春发、夏荣、秋收、冬藏，看来像是一年四季般短暂的一辈子。每当我为俗务劳形的时刻，想到那七个字，便忆起李白《春夜宴桃李园记》中“天地者，万物之逆旅，光阴者，百代之过客，浮生若梦，为欢几何”的句子，而在哀时光之须臾，感万物之行休中，把周遭的俗事抛开，将眼前的争逐看淡。我常想世间的劳苦愁烦、恩恩怨怨，如有不能化解的、不能消受的，不也驮过这短短几十年就烟消云散了吗？若是如此，又有什么好解不开的呢？
        </p>
      </section>
    </section>
    <section>
      <h2 class="title">2. 章标题</h2>
      <section>
        <h3>2.1 节标题</h3>
        <p>
          人就这么一辈子，你可以积极地把握它；也可以淡然地面对它。想不开想想它，以求释然吧！精神颓废时想想它，以求感恩吧！因为不管怎样，你总是很幸运地拥有这一辈子，不能白来这一遭啊。
        </p>
        <p>
          <img src="./images/750-1.jpg" alt="" />
        </p>
      </section>
    </section>
    <section>
      <h2 class="title">3. 其他示范</h2>
      <section>
        <h3>3.1 表格</h3>
        <table>
          <tbody>
            <tr>
              <th>#</th>
              <th>姓名</th>
              <th>年龄</th>
              <th>性别</th>
            </tr>
            <tr>
              <td>1号</td>
              <td>张三</td>
              <td>32</td>
              <td>男</td>
            </tr>
            <tr>
              <td>2号</td>
              <td>李四</td>
              <td>27</td>
              <td>女</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h3>3.2 DL列表</h3>
        <dl>
          <dt>吃货の菜谱</dt>
          <dd>荷塘月色</dd>
          <dd>酸菜炖粉条</dd>
          <dd>煎炸小黄鱼</dd>
        </dl>
      </section>
      <section>
        <h3>3.3 UL以及OL列表</h3>
        <ul>
          <li>第一 老婆永远是正确的</li>
          <li>第二 如果老婆有错，请参考第一条</li>
        </ul>
      </section>
    </section>
  </article>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>