<div class="ex-page">
  <div class="page-header">
    <h4>Badge</h4>
    <p class="text-gray text-sm">徽章</p>
  </div>

  <div class="list">
    <div class="item tapable">
      <i class="badge" style="margin-right: 10px;"></i>
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <i class="badge"></i>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <div class="extra">描述信息</div>
      <i class="badge" style="margin-left: 10px;"></i>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">添加信息</div>
    <div class="item tapable">
      <div class="text">标题文字<i class="badge" style="margin-left: 10px;">3</i></div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <i class="badge">3</i>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <i class="badge">NEW</i>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">嵌入图片</div>
    <div class="item tapable">
      <div class="avatar">
        <img width="48" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
        <i class="badge" style="position: absolute; top: -4px;right: -4px;">3</i>
      </div>
      <div class="text">
        标题文字
        <div class="brief">描述文字信息</div>
      </div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="avatar">
        <img width="48" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
        <i class="badge" style="position: absolute; top: -4px;right: -4px;">99+</i>
      </div>
      <div class="text">
        标题文字
        <div class="brief">描述文字信息</div>
      </div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
  </div>

  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>
