<div class="ex-page">
  <div class="page-header">
    <h4>Button</h4>
    <p class="text-gray text-sm">按钮</p>
  </div>
  <div class="vspace hspace">
    
    <button class="button primary">主按钮</button>
    <button class="button primary" disabled>主按钮 禁用</button>
    <button class="button default">次按钮</button>
    <button class="button default disabled">次按钮 禁用</button>
    <button class="button warning">警告按钮</button>
    <button class="button warning disabled">警告按钮 禁用</button>
    <button class="button success">成功按钮</button>
    <button class="button success disabled">成功按钮 禁用</button>
    <button class="button driving">引导按钮</button>
    <button class="button driving disabled">引导按钮 禁用</button>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为加载提示</div>
    </div>
    
    <button class="button default"><i class="loading"></i>加载中</button>
    <button class="button driving"><i class="loading"></i>载入中</button>
    <button class="button primary"><i class="loading"></i>处理中</button>
    <button class="button warning"><i class="loading"></i>请稍后</button>
    <button class="button success"><i class="loading"></i>提交中</button>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为添加ICON</div>
    </div>
    
    <button class="button default"><i class="icon text-xl">&#xe61c;</i>提交成功</button>
    <button class="button warning"><i class="icon text-xl">&#xe61d;</i>提交失败</button>
    <button class="button primary"><i class="icon text-xl">&#xe618;</i>点击刷新</button>
    <button class="button driving"><i class="icon text-xl">&#xe601;</i>请您确认</button>
    <button class="button success"><i class="icon text-xl">&#xe61b;</i>点击分享</button>
    <button class="button success justify"><i class="icon text-xl">&#xe61b;</i>点击分享</button>
    <button class="button primary"><i class="icon text-xl"><img width="20" src="./images/question.png" /></i>内嵌图片</button>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为镂空按钮</div>
    </div>
    
    <button class="button plain-primary">主要按钮</button>
    <button class="button plain-default">次要按钮</button>
    <button class="button plain-warning">警告按钮</button>
    <button class="button plain-success">成功按钮</button>
    <button class="button plain-driving">促销按钮</button>
    <button class="button plain-driving disabled">镂空按钮 禁用</button>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为直角按钮</div>
    </div>
    
    <button class="button warning square">直角按钮</button>
    <button class="button primary square">直角按钮</button>
    <button class="button plain-driving square">直角按钮</button>
    <button class="button plain-success square">直角按钮</button>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为内联按钮</div>
    </div>

    <div class="vspace text-center">
      <button class="button primary inline">内联按钮</button>
      <button class="button default inline">内联按钮</button>
      <button class="button driving inline">内联按钮</button>

      <div class="vspace text-warning text-sm">如果内联按钮之间有空格或换行，水平间距将不精准，推荐使用button-group来替换内联排版</div>
    </div>

    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为小按钮</div>
    </div>
    
    <div class="vspace text-center">
      <button class="button primary sm">较小按钮</button>
      <button class="button default sm">较小按钮</button>
      <button class="button driving sm">较小按钮</button>
    </div>
    
    <div class="vspace text-center">
      <button class="button plain-primary sm">较小按钮</button>
      <button class="button plain-default sm">较小按钮</button>
      <button class="button plain-driving sm">较小按钮</button>
    </div>
    
    <div class="vspace text-center">
      <button class="button primary xs">特小按钮</button>
      <button class="button default xs">特小按钮</button>
      <button class="button success xs">特小按钮</button>
    </div>
    
    <div class="vspace" ui-mode="50px">
      <div class="divider" ui-mode="30%">以下为按钮组合</div>
    </div>
    
    <div class="button-group vspace">
      <button class="button primary">按钮组</button>
      <button class="button warning">按钮组</button>
      <button class="button success">按钮组</button>
    </div>
    
    <div class="button-group compact vspace">
      <button class="button primary">紧凑组</button>
      <button class="button warning">紧凑组</button>
      <button class="button success">紧凑组</button>
    </div>
    
    <div class="button-group compact vspace">
      <button class="button primary square">紧凑直角</button>
      <button class="button warning square">紧凑直角</button>
      <button class="button success square">紧凑直角</button>
    </div>
    
    <div class="button-group vspace">
      <button class="button plain-primary">按钮组</button>
      <button class="button plain-warning">按钮组</button>
      <button class="button plain-success">按钮组</button>
    </div>
    
    <div class="button-group compact vspace">
      <button class="button plain-primary">紧凑组</button>
      <button class="button plain-primary">紧凑组</button>
      <button class="button plain-primary">紧凑组</button>
    </div>
    
    <div class="button-group compact vspace">
      <button class="button plain-driving square">紧凑直角</button>
      <button class="button plain-driving square">紧凑直角</button>
      <button class="button plain-driving square">紧凑直角</button>
    </div>
    
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>