<div class="ex-page">
  <div class="page-header">
    <h4>Composite</h4>
    <p class="text-gray text-sm">列表复合应用</p>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="text text-sm text-gray">文字组合</div>
    </div>
    <a class="item" href="javascript:;">
      <div class="text">
        <span>北疆饭店（正常）</span>
        <div class="brief">菜式很齐全，味道也不错，环境很温馨，并且不用排队，完美。</div>
      </div>
    </a>
    <a class="item" href="javascript:;">
      <div class="text">
        <h4>善在·金鼎轩（加粗）</h4>
        <div class="brief">菜品真材实料，青菜掐头去尾做的非常精致；豆腐满满的原汁原味啊！</div>
      </div>
    </a>
    <a class="item" href="javascript:;">
      <div class="text text-sm text-link">查看更多</div>
      <i class="icon">&#xe61a;</i>
    </a>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="text text-sm text-gray">文字加注脚</div>
    </div>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="text">
        <span>龙泉寺</span>
        <div class="brief">行亦禅，坐亦禅，语默静动体自然。心若安，可步步生莲。心清一切明，心浊一切暗；心痴一切迷，心悟一切禅。</div>
        <div class="brief">
          <div class="text-group text-light">
            <span class="item">禅修自然</span>
            <span class="item">自我催眠</span>
          </div>
        </div>
      </div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="text">
        <h4>龙泉寺</h4>
        <div class="brief">行亦禅，坐亦禅，语默静动体自然。心若安，可步步生莲。心清一切明，心浊一切暗；心痴一切迷，心悟一切禅。</div>
        <div class="brief">
          <div class="text-group text-light text-right">
            <span class="item">禅修自然</span>
            <span class="item">11月11日</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="text text-sm text-gray">小图文组合</div>
    </div>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="24" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="24" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="text text-sm text-link">查看更多</div>
      <i class="icon">&#xe61a;</i>
    </a>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="text text-sm text-gray">单行文字图文组合</div>
    </div>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="45" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <span>北疆饭店</span>
        <div class="brief text-ellipsis">菜式很齐全，味道也不错，环境很温馨，并且不用排队，完美。</div>
      </div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="45" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>善在·金鼎轩</h4>
        <div class="brief text-ellipsis">菜品真材实料，青菜掐头去尾做的非常精致；豆腐满满的原汁原味啊！</div>
      </div>
    </a>
    <a class="item" href="javascript:;">
      <div class="text text-sm text-link">查看更多</div>
      <i class="icon">&#xe61a;</i>
    </a>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="text text-sm text-gray">双行文字图文组合</div>
    </div>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <span>北疆饭店</span>
        <div class="brief">菜式很齐全，味道也不错，环境很温馨，并且不用排队，完美。</div>
      </div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>善在·金鼎轩</h4>
        <div class="brief">菜品真材实料，青菜掐头去尾做的非常精致；豆腐满满的原汁原味啊！</div>
      </div>
    </a>
    <a class="item" href="javascript:;">
      <div class="text text-sm text-link">查看更多</div>
      <i class="icon">&#xe61a;</i>
    </a>
  </div>
  
  <div class="list">
    <a class="item" href="javascript:;">
      <div class="text text-sm">天猫国际</div>
      <div class="extra text-sm">待支付</div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <span>北疆饭店</span>
        <div class="brief">菜式很齐全，味道也不错，环境很温馨，并且不用排队，完美。</div>
      </div>
    </a>
    <div class="item">
      <div class="text text-sm">人均:<span class="text-driving">￥88.0</span></div>
      <div class="extra">
        <div class="button-group">
          <a class="button plain-driving sm" href="javascript:;">立即支付</a>
          <a class="button default sm" href="javascript:;">查看详情</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="list">
    <a class="item" href="javascript:;">
      <div class="text text-sm">微信商城</div>
      <div class="extra text-sm">已发货</div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>善在·金鼎轩</h4>
        <div class="brief">菜品真材实料，青菜掐头去尾做的非常精致；豆腐满满的原汁原味啊！</div>
      </div>
    </a>
    <div class="item">
      <div class="text text-sm">人均:<span class="text-driving">￥66.0</span></div>
      <div class="extra">
        <div class="button-group">
          <a class="button plain-success sm" href="javascript:;">查看物流</a>
          <a class="button default sm" href="javascript:;">查看详情</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="list">
    <a class="item" href="javascript:;">
      <div class="text text-sm">京东商城</div>
      <div class="extra text-sm">已签收</div>
    </a>
    <a class="item" ui-mode="15px" href="javascript:;">
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="avatar">
        <img width="60" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
    </a>
    <div class="item">
      <div class="text text-sm">总价:<span class="text-driving">￥123.0</span></div>
      <div class="extra">
        <div class="button-group">
          <a class="button plain-primary sm" href="javascript:;">发表评价</a>
          <a class="button default sm" href="javascript:;">查看详情</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="label text-gray">付款金额</div>
      <div class="text text-right">￥869.00</div>
    </div>
    <div class="item">
      <div class="text">
        <p class="text-justify">
          <span class="label">商品</span>
          <span class="value text-right">飞利浦空气炸锅</span>
        </p>
        <p class="text-justify">
          <span class="label">商家</span>
          <span class="value text-right">飞利浦天猫旗舰店</span>
        </p>
        <p class="text-justify">
          <span class="label">颜色分类</span>
          <span class="value text-right">白色</span>
        </p>
      </div>
    </div>
    <a class="item thread" href="javascript:;">
      <div class="text text-success text-center">付款</div>
    </a>
  </div>
  
  <div class="list">
    <div class="item">
      <div class="label text-gray">付款金额</div>
      <div class="text text-right">￥869.00</div>
    </div>
    <div class="item">
      <div class="text">
        <p class="text-justify">
          <span class="label">商品</span>
          <span class="value text-right">飞利浦空气炸锅</span>
        </p>
        <p class="text-justify">
          <span class="label">商家</span>
          <span class="value text-right">飞利浦天猫旗舰店</span>
        </p>
        <p class="text-justify">
          <span class="label">颜色分类</span>
          <span class="value text-right">白色</span>
        </p>
      </div>
    </div>
    <div class="item thread" ui-mode="0px">
      <div class="button-group compact nesting">
        <a class="button square text-gray text-nm">取消</a>
        <a class="button square text-success text-nm">确定</a>
      </div>
    </div>
  </div>

  <div class="list">
    <a class="item" ui-mode="15px" href="javascript:;">
      <i class="icon text-xl text-darkgray">&#xe60d;</i>
      <div class="text">
        <p class="text-justify text-md">
          <span>联系人: 杜拉拉</span>
          <span class="value text-right">18612345678</span>
        </p>
        <div class="brief">北京市朝阳区人民群众公园</div>
      </div>
      <i class="icon">&#xe61a;</i>
    </a>
    <div class="item">
      <div class="extra">
        <div class="button-group">
          <a class="button default sm"><i class="icon">&#xe627;</i>编辑</a>
          <a class="button default sm"><i class="icon">&#xe629;</i>删除</a>
        </div>
      </div>
      <label class="text text-right text-sm">
        <input class="checkbox" type="radio" name="radio1" checked />设为默认
      </label>
    </div>
  </div>

  <div class="list">
    <a class="item" ui-mode="15px" href="javascript:;">
      <i class="icon text-xl text-darkgray">&#xe60d;</i>
      <div class="text">
        <p class="text-justify text-md">
          <span>联系人: 特朗普</span>
          <span class="value text-right">18812345678</span>
        </p>
        <div class="brief">美利坚众合国华盛顿白宫府</div>
      </div>
      <i class="icon">&#xe61a;</i>
    </a>
    <div class="item">
      <div class="extra">
        <div class="button-group">
          <a class="button default sm"><i class="icon">&#xe627;</i>编辑</a>
          <a class="button default sm"><i class="icon">&#xe629;</i>删除</a>
        </div>
      </div>
      <label class="text text-right text-sm">
        <input class="checkbox" type="radio" name="radio1" />设为默认
      </label>
    </div>
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>