<div class="ex-page">
  <div class="page-header">
    <h4>Feedback</h4>
    <p class="text-gray text-sm">反馈页面</p>
  </div>

  <div class="vspace hspace">
    <a class="button default" href="#success">成功提示</a>
    <a class="button default" href="#failure">失败提示</a>
    <a class="button default" href="#warning">警告提示</a>
    <a class="button default" href="#nothing">空白提示</a>
  </div>

  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>