<div class="ex-page">
  <div class="page-header">
    <h4>Flex</h4>
    <p class="text-gray text-sm">Flex布局</p>
  </div>

  <div class="hspace">
    <div class="divider" ui-mode="20%">默认水平间距10px</div>

    <div class="vspace" ui-mode="10px">
      <div class="flex">
        <div class="item">
          <div class="holder">exui</div>
        </div>
      </div>
    </div>
    
    <div class="vspace" ui-mode="10px">
      <div class="flex">
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
      </div>
    </div>
    
    <div class="vspace" ui-mode="10px">
      <div class="flex">
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
      </div>
    </div>
    
    <div class="vspace" ui-mode="10px">
      <div class="flex">
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
      </div>
    </div>

    <div class="divider" ui-mode="20%">紧凑无水平间距</div>
    
    <div class="vspace" ui-mode="10px">
      <div class="flex compact">
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
        <div class="item">
          <div class="holder">exui</div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>