<div class="ex-page">
  <div class="page-header">
    <h4>Footer</h4>
    <p class="text-gray text-sm">页脚</p>
  </div>
  
  <footer>
    <div class="text-gray text-xs text-center">Copyright &copy; 2016-2017 Company</div>
  </footer>
  
  <div class="vspace" ui-mode="50px">
    <div class="divider">分割线</div>
  </div>
  
  <footer>
    <div class="text-center text-sm">
      <a class="link" href="javascript:;">我是链接</a>
    </div>
    <div class="text-gray text-xs text-center">Copyright &copy; 2016-2017 Company</div>
  </footer>
  
  <div class="vspace" ui-mode="50px">
    <div class="divider">分割线</div>
  </div>
  
  <footer class="vspace btm-fixed" ui-mode="10px">
    <div class="text-group text-sm text-center">
      <a class="link item" href="javascript:;">合作</a>
      <a class="link item" href="javascript:;">加盟</a>
      <a class="link item" href="javascript:;">关于</a>
      <a class="link item" href="javascript:;">协议</a>
    </div>
    <div class="text-gray text-xs text-center">Copyright &copy; 2016-2017 Company</div>
  </footer>

  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>