<div class="ex-page">
  <div class="page-header">
    <h4>Form</h4>
    <p class="text-gray text-sm">表单输入</p>
  </div>
  <div class="list">
    <div class="item-divider">文本框</div>
    <label class="item" ui-mode="input">
      <input class="input" type="text" placeholder="文本输入框" />
    </label>
    <div class="item-divider">ICON</div>
    <label class="item" ui-mode="input">
      <i class="icon text-darkgray">&#xe60d;</i>
      <input class="input" type="text" placeholder="请输入您的家庭住址" value="" />
      <i class="icon text-warning">&#xe61f;</i>
    </label>
    <label class="item" ui-mode="input">
      <i class="icon text-darkgray">&#xe60d;</i>
      <input class="input" type="text" placeholder="请输入您的家庭住址" value="月下踯躅 梦里徘徊" />
      <i class="icon text-success">&#xe620;</i>
    </label>
    <div class="item-divider">带清除</div>
    <label class="item" ui-mode="input">
      <i class="icon text-darkgray">&#xe60d;</i>
      <input class="input" type="text" placeholder="请输入您的家庭住址" required />
      <i class="icon text-light" ui-mode="close">&#xe6a0;</i>
    </label>
    <div class="item-divider">文本域</div>
    <label class="item" ui-mode="input">
      <textarea class="textarea" rows="4" placeholder="文本域输入框"></textarea>
      <div class="textarea-counter"><span>0</span>/200</div>
    </label>
    <div class="item-divider">LABEL宽度: ui-mode="[16px * 2,3,4,5,6,7]"</div>
    <label class="item" ui-mode="input">
      <span class="label" ui-mode="64px">姓名</span>
      <input class="input" type="text" placeholder="如果一组表单Label文字长度不定" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label" ui-mode="64px">手机号</span>
      <input class="input" type="text" placeholder="可以通过预设宽度来实现对齐效果" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label" ui-mode="64px">联系地址</span>
      <input class="input" type="text" placeholder="默认情况下Label宽度是自适应的" />
    </label>
    <div class="item-divider">下拉选择</div>
    <label class="item" ui-mode="input">
      <select class="select">
        <option selected value="1">股票</option>
        <option value="2">黄金</option>
        <option value="3">外汇</option>
      </select>
      <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
    </label>
    <label class="item" ui-mode="input">
      <span class="label">国家/地区</span>
      <select class="select">
        <option selected value="1">中国</option>
        <option value="2">台湾</option>
        <option value="3">香港</option>
      </select>
      <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
    </label>
    <div class="item-divider">靠右对齐</div>
    <label class="item" ui-mode="input">
      <span class="label">国家/地区</span>
      <select class="select" dir="rtl">
        <option selected value="1">中国</option>
        <option value="2">台湾</option>
        <option value="3">香港</option>
      </select>
      <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
    </label>
    <label class="item" ui-mode="input">
      <span class="label">理财</span>
      <select class="select" dir="rtl">
        <option selected value="1">股票</option>
        <option value="2">黄金</option>
        <option value="3">外汇</option>
      </select>
      <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
    </label>
    <div class="item-divider">前置下拉</div>
    <label class="item" ui-mode="input">
      <div class="select-widget">
        <select class="select">
          <option value="1">京</option>
          <option value="2">津</option>
          <option value="3">冀</option>
          <option value="4">豫</option>
        </select>
        <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
      </div>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的车牌" />
    </label>
    <label class="item" ui-mode="input">
      <div class="select-widget">
        <select class="select">
          <option value="1">+86</option>
          <option value="2">+80</option>
          <option value="3">+84</option>
          <option value="4">+87</option>
        </select>
        <i class="icon text-gray" ui-mode="arrow">&#xe60b;</i>
      </div>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的电话" />
    </label>
    <div class="item-divider">验证码</div>
    <label class="item" ui-mode="input">
      <span class="label">手机号</span>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的电话" />
      <div class="interact">
        <button class="button literal text-primary" type="button">发送验证码</button>
      </div>
    </label>
    <label class="item" ui-mode="input">
      <span class="label">验证码</span>
      <input class="input" type="number" pattern="[0-9]*" placeholder="请输入短信验证码" />
      <div class="interact">
        <button class="button literal text-primary" type="button" disabled>28秒后重发</button>
      </div>
    </label>
    <label class="item" ui-mode="input">
      <span class="label">验证码</span>
      <input class="input" type="text" placeholder="请输入图形验证码" />
      <div class="interact">
        <img class="captcha" src="./images/captcha.jpg" />
      </div>
    </label>
    <div class="item-divider">收窄边框</div>
    <label class="item" ui-mode="input">
      <span class="label">手机号</span>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的电话" />
      <div class="interact" ui-mode="narrow">
        <button class="button literal text-success" type="button">兑换礼品</button>
      </div>
    </label>
    <label class="item" ui-mode="input">
      <span class="label">手机号</span>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的电话" />
      <div class="interact" ui-mode="narrow">
        <button class="button literal text-darkgray" type="button">我要报名</button>
      </div>
    </label>
    <div class="item-divider">表单组合</div>
    <label class="item" ui-mode="input">
      <span class="label">姓名</span>
      <input class="input" type="text" placeholder="请输入姓名" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label">数字</span>
      <input class="input" type="number" pattern="[0-9]*" placeholder="请输入QQ号" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label">电话</span>
      <input class="input" type="tel" pattern="[0-9]*" placeholder="请输入您的电话" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label">日期</span>
      <input class="input" type="date" value="" />
    </label>
    <label class="item" ui-mode="input">
      <span class="label">时间</span>
      <input class="input" type="datetime-local" value="" />
    </label>
    <div class="item-divider">单选列表(橙色 / 默认)</div>
    <label class="item tapable">
      <input class="radio" type="radio" name="radio1" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="radio" type="radio" name="radio1" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">单选列表(蓝色)</div>
    <label class="item tapable">
      <input class="radio primary" type="radio" name="radio2" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="radio primary" type="radio" name="radio2" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">单选列表(绿色)</div>
    <label class="item tapable">
      <input class="radio success" type="radio" name="radio3" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="radio success" type="radio" name="radio3" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">单选列表(禁用)</div>
    <label class="item">
      <input class="radio" type="radio" name="radio4" checked disabled />
      <div class="text">支付宝</div>
    </label>
    <label class="item">
      <input class="radio" type="radio" name="radio4" disabled />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">单选列表(右侧排列)</div>
    <label class="item tapable">
      <div class="text">支付宝</div>
      <input class="radio" type="radio" name="radio5" checked />
    </label>
    <label class="item tapable">
      <div class="text">微信支付</div>
      <input class="radio" type="radio" name="radio5" />
    </label>
    <div class="item-divider">复选列表(橙色 / 默认)</div>
    <label class="item tapable">
      <input class="checkbox" type="checkbox" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="checkbox" type="checkbox" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">复选列表(蓝色)</div>
    <label class="item tapable">
      <input class="checkbox primary" type="checkbox" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="checkbox primary" type="checkbox" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">复选列表(绿色)</div>
    <label class="item tapable">
      <input class="checkbox success" type="checkbox" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="checkbox success" type="checkbox" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">复选列表(禁用)</div>
    <label class="item">
      <input class="checkbox" type="checkbox" checked disabled />
      <div class="text">支付宝</div>
    </label>
    <label class="item">
      <input class="checkbox" type="checkbox" disabled />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider">复选列表(右侧排列)</div>
    <label class="item tapable">
      <div class="text">支付宝</div>
      <input class="checkbox" type="checkbox" checked />
    </label>
    <label class="item tapable">
      <div class="text">微信支付</div>
      <input class="checkbox" type="checkbox" />
    </label>
    <div class="item-divider text-warning">颠倒: 单选框使用复选框外观</div>
    <label class="item tapable">
      <input class="checkbox primary" type="radio" name="radio6" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="checkbox primary" type="radio" name="radio6" />
      <div class="text">微信支付</div>
    </label>
    <div class="item-divider text-warning">颠倒: 复选框使用单选框外观</div>
    <label class="item tapable">
      <input class="radio success" type="checkbox" checked />
      <div class="text">支付宝</div>
    </label>
    <label class="item tapable">
      <input class="radio success" type="checkbox" />
      <div class="text">微信支付</div>
    </label>
  </div>
  <div class="agree">
    <label>
      <input class="checkbox success" type="checkbox" />
      <span>阅读并同意<a class="link" href="javascript:;">《相关条款》</a></span>
    </label>
  </div>
  <div class="divider">协议居中</div>
  <div class="agree">
    <label class="center">
      <input class="checkbox success" type="checkbox" />
      <span>阅读并同意<a class="link" href="javascript:;">《相关条款》</a></span>
    </label>
  </div>
  <div class="vspace hspace">
    <button class="button success">确定</button>
  </div>
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>
