<div class="ex-page">
  <div class="page-header">
    <h4>Icons</h4>
    <p class="text-gray text-sm">
      <a class="link" target="_blank" href="http://www.iconfont.cn/plus/collections/detail?cid=2428">内置图标字体 (点击查看)</a>
    </p>
  </div>

  <div class="grid">
    <a class="item">
      <i class="icon text-darkgray">&#xe696;</i>
      <div class="label">&amp;#xe696;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe677;</i>
      <div class="label">&amp;#xe677;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe6a0;</i>
      <div class="label">&amp;#xe6a0;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe60d;</i>
      <div class="label">&amp;#xe60d;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe629;</i>
      <div class="label">&amp;#xe629;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe627;</i>
      <div class="label">&amp;#xe627;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe624;</i>
      <div class="label">&amp;#xe624;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe616;</i>
      <div class="label">&amp;#xe616;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe62d;</i>
      <div class="label">&amp;#xe62d;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe619;</i>
      <div class="label">&amp;#xe619;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61e;</i>
      <div class="label">&amp;#xe61e;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61d;</i>
      <div class="label">&amp;#xe61d;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61c;</i>
      <div class="label">&amp;#xe61c;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe601;</i>
      <div class="label">&amp;#xe601;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe60a;</i>
      <div class="label">&amp;#xe60a;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61f;</i>
      <div class="label">&amp;#xe61f;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61b;</i>
      <div class="label">&amp;#xe61b;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe61a;</i>
      <div class="label">&amp;#xe61a;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe618;</i>
      <div class="label">&amp;#xe618;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe60e;</i>
      <div class="label">&amp;#xe60e;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe60b;</i>
      <div class="label">&amp;#xe60b;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe606;</i>
      <div class="label">&amp;#xe606;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe62c;</i>
      <div class="label">&amp;#xe62c;</div>
    </a>
    <a class="item">
      <i class="icon text-darkgray">&#xe62a;</i>
      <div class="label">&amp;#xe62a;</div>
    </a>
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>