<div class="ex-page">
  <div class="page-header">
    <h4>List</h4>
    <p class="text-gray text-sm">列表</p>
  </div>

  <div class="list">
    <div class="item-divider">缩进列表项</div>
    <div class="item">
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <div class="text text-ellipsis">可通过添加 text-ellipsis 来获得省略模式。比如这个很长很长很长很长很长很长很长很长很长很长的文字内容</div>
    </div>
    <div class="item-divider">通栏列表项</div>
    <div class="item thread">
      <div class="text">列表项分割线是通栏的</div>
    </div>
    <div class="item thread">
      <div class="text">列表项分割线是通栏的</div>
    </div>
    <div class="item-divider">说明示例</div>
    <div class="item">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
    </div>
    <div class="item">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
    </div>
    <div class="item-divider">左侧图标</div>
    <div class="item">
      <i class="icon text-gray">&#xe60a;</i>
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <i class="icon text-gray">&#xe60a;</i>
      <div class="text">标题文字</div>
    </div>
    <div class="item-divider">右侧图标</div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe60a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe60a;</i>
    </div>
    <div class="item-divider">竖线分割</div>
    <div class="item split" ui-mode="10px 0px">
      <div class="text">非诚勿扰</div>
      <div class="text">世纪佳缘</div>
      <div class="text">娱乐到死</div>
    </div>
    <div class="item-divider">竖线拉通</div>
    <div class="item split" ui-mode="0px">
      <div class="text">非诚勿扰</div>
      <div class="text">世纪佳缘</div>
      <div class="text">娱乐到死</div>
    </div>
    <div class="item-divider">跳转示例</div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">图片示例</div>
    <div class="item tapable">
      <div class="avatar">
        <img width="16" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="avatar">
        <img width="24" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="avatar">
        <img width="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item tapable">
      <div class="avatar">
        <img width="48" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">补充信息</div>
    <div class="item">
      <div class="text">
        <h4>标题文字</h4>
        <div class="brief">这里是一些补充文字信息，它也许很长很长很长很长很长很长很长很长</div>
      </div>
    </div>
    <div class="item">
      <div class="text">
        <h4>标题文字</h4>
        <div class="brief">这里是一些补充文字信息，它也许很长很长很长很长很长很长很长很长</div>
      </div>
    </div>
    <div class="item-divider">揉在一起</div>
    <div class="item">
      <span class="text">
        星座3栋
        <div class="brief text-ellipsis">面积60平米、卫生费、管理费、公摊费合计为物业费</div>
      </span>
      <span class="extra">
        <p class="text-light text-xs">账户余额：￥800</p>
        <p class="text-orange text-sm">本期缴纳：￥500</p>
      </span>
    </div>
    <div class="item tapable">
      <div class="avatar">
        <img width="44" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>少年时光</h4>
        <div class="brief text-ellipsis">少年时光，用大把时间彷徨，只用几个瞬间来成长</div>
      </div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">图片吸顶（默认居中,如上例）</div>
    <div class="item tapable">
      <div class="avatar" ui-mode="ceiling">
        <img width="44" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>少年时光</h4>
        <div class="brief">少年时光，用大把时间彷徨，只用几个瞬间来成长</div>
      </div>
      <i class="icon text-gray">&#xe61a;</i>
    </div>
    <div class="item-divider">间距处理</div>
    <div class="item" ui-mode="0px">
      <div class="text">padding: 0px</div>
      <div class="extra">PS：min-height = 44px</div>
    </div>
    <div class="item" ui-mode="10px">
      <div class="text">padding: 10px</div>
      <div class="extra">24 + 10*2 = 44px</div>
    </div>
    <div class="item" ui-mode="12px">
      <div class="text">padding: 12px</div>
      <div class="extra">24 + 12*2 = 48px</div>
    </div>
    <div class="item" ui-mode="15px">
      <div class="text">padding: 15px</div>
      <div class="extra">24 + 15*2 = 54px</div>
    </div>
    <div class="item-divider">间距组合</div>
    <div class="item" ui-mode="10px 15px">
      <div class="text">padding: 10px 15px</div>
    </div>
    <div class="item" ui-mode="12px 15px">
      <div class="text">padding: 12px 15px</div>
    </div>
    <div class="list compact">
      <div class="item-divider">列表嵌套</div>
      <div class="item">
        <div class="text">标题文字</div>
      </div>
      <div class="item">
        <div class="text">标题文字</div>
      </div>
      <div class="item">
        <div class="text">标题文字</div>
      </div>
    </div>
    <div class="item">
      <div class="text">标题文字</div>
    </div>
  </div>



  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>
