<div class="ex-page">
  <div class="page-header">
    <h4>List</h4>
    <p class="text-gray text-sm">列表</p>
  </div>
  
  <div class="list">
    <div class="item-divider">列表项</div>
    <div class="item">
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <div class="text text-ellipsis">可通过添加 text-ellipsis 来获得省略模式。比如这个很长很长很长很长很长很长很长很长很长很长的文字内容</div>
    </div>
    <div class="item-divider">边框通栏列表项</div>
    <div class="item thread">
      <div class="text">列表项分割线是通栏的</div>
    </div>
    <div class="item thread">
      <div class="text">列表项分割线是通栏的</div>
    </div>
    <div class="item thread">
      <div class="text">列表项分割线是通栏的</div>
    </div>
    <div class="item-divider">带说明列表项</div>
    <div class="item">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
    </div>
    <div class="item">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
    </div>
    <div class="item-divider">左侧ICON</div>
    <div class="item">
      <i class="icon">&#xe61e;</i>
      <div class="text">标题文字</div>
    </div>
    <div class="item">
      <i class="icon">&#xe61e;</i>
      <div class="text">标题文字</div>
    </div>
    <div class="item-divider">右侧ICON</div>
    <a class="item" href="javascript:;">
      <div class="text">标题文字</div>
      <i class="icon">&#xe60a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="text">标题文字</div>
      <i class="icon">&#xe60a;</i>
    </a>
    <div class="item-divider">说明和跳转示意</div>
    <a class="item" href="javascript:;">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <div class="item-divider">带左右ICON以及说明列表项</div>
    <a class="item" href="javascript:;">
      <i class="icon">&#xe61e;</i>
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <i class="icon">&#xe61e;</i>
      <div class="text">标题文字</div>
      <div class="extra">其他信息</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <div class="item-divider">左侧带图标的列表项</div>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="16" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <div class="extra">16px</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="24" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <div class="extra">24px</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <div class="extra">32px</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="48" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">标题文字</div>
      <div class="extra">可以自由设置</div>
      <i class="icon">&#xe61a;</i>
    </a>
    <div class="item-divider">补充信息</div>
    <div class="item">
      <div class="text">
        普通标题
        <div class="brief">这里是一些补充文字信息，它也许很长很长很长很长很长很长很长很长</div>
      </div>
    </div>
    <div class="item">
      <div class="text">
        <h4>加粗标题</h4>
        <div class="brief">这里是一些补充文字信息，它也许很长很长很长很长很长很长很长很长</div>
      </div>
    </div>
    <div class="item-divider">揉在一起</div>
    <div class="item">
      <div class="text">
        星座3栋
        <div class="brief text-ellipsis">面积60平米、卫生费、管理费、公摊费合计为物业费</div>
      </div>
      <div class="extra">
        <p class="text-orange text-sm">本期物业费: ￥500</p>
      </div>
    </div>
    <div class="item">
      <span class="text">
        星座3栋
        <div class="brief text-ellipsis">面积60平米、卫生费、管理费、公摊费合计为物业费</div>
      </span>
      <span class="extra">
        <p class="text-light text-xs">账户余额：￥800</p>
        <p class="text-orange text-sm">本期缴纳：￥500</p>
      </span>
    </div>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="46" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>少年时光</h4>
        <div class="brief text-ellipsis">少年时光，用大把时间彷徨，只用几个瞬间来成长</div>
      </div>
      <i class="icon">&#xe61a;</i>
    </a>
    <a class="item" href="javascript:;">
      <div class="avatar">
        <img width="46" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
      </div>
      <div class="text">
        <h4>总是不安，只好强悍</h4>
        <div class="brief">其实恰相反，平静往往才是最有穿透效果的力量。每个人都会跌倒，然后，爬起来，自我成长。</div>
      </div>
      <i class="icon">&#xe61a;</i>
    </a>
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>