<div class="ex-page">
  <div class="page-header">
    <h4>Loadmore</h4>
    <p class="text-gray text-sm">加载更多</p>
  </div>
  
  <!-- 默认风格 -->
  <div class="loadmore">
    <i class="loading"></i>
    <span class="tips">正在加载</span>
  </div>
  
  <!-- 自定义颜色 -->
  <div class="loadmore">
    <i class="loading"></i>
    <span class="tips text-gray">正在加载</span>
  </div>
  
  <!-- 揉在一起 -->
  <div class="divider">
    <div class="loadmore">
      <i class="loading"></i>
      <span class="tips">正在加载</span>
    </div>
  </div>
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>