<div class="ex-page">
  <div class="page-header">
    <h4>Loadmore</h4>
    <p class="text-gray text-sm">加载更多</p>
  </div>

  <!-- 默认风格 -->
  <div class="loadmore">
    <i class="loading"></i>
    <span class="tips">正在加载</span>
  </div>

  <div class="divider">自定义颜色</div>

  <!-- 自定义颜色 -->
  <div class="loadmore">
    <i class="loading"></i>
    <span class="tips text-gray">正在加载</span>
  </div>

  <footer class="vspace btm-fixed">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>
