<div class="ex-page">
  <div class="page-header">
    <h4>Modal</h4>
    <p class="text-gray text-sm">对话框</p>
  </div>

  <div class="vspace hspace">
    <button class="button default" data-modal="#modalAlert1">Alert: 带标题</button>
    <button class="button default" data-modal="#modalAlert2">Alert: 无标题</button>
    <button class="button default" data-modal="#modalConfirm1">Confirm: 带标题</button>
    <button class="button default" data-modal="#modalConfirm2">Confirm: 无标题</button>
    <button class="button default" data-modal="#modalConfirm3">Confirm: 弹窗嵌套</button>
  </div>

  <div id="modals">

    <div id="modalAlert1" class="modal-layer">
      <div class="modal">
        <h3 class="title">温馨提示</h3>
        <div class="content">本商品销售范围不支持您所在的社区或库存不足</div>
        <footer class="footer">
          <div class="button-group nesting compact">
            <a class="button square text-primary text-strong submit">确定</a>
          </div>
        </footer>
      </div>
    </div>

    <div id="modalAlert2" class="modal-layer">
      <div class="modal">
        <div class="content">本商品销售范围不支持您所在的社区或库存不足</div>
        <footer class="footer">
          <div class="button-group nesting compact">
            <a class="button square text-primary text-strong submit">知道了</a>
          </div>
        </footer>
      </div>
    </div>

    <div id="modalConfirm1" class="modal-layer">
      <div class="modal">
        <h3 class="title">温馨提示</h3>
        <div class="content">本商品销售范围不支持您所在的社区或库存不足</div>
        <footer class="footer">
          <div class="button-group compact nesting">
            <a class="button square text-primary cancel">取消</a>
            <a class="button square text-primary text-strong submit">确定</a>
          </div>
        </footer>
      </div>
    </div>

    <div id="modalConfirm2" class="modal-layer">
      <div class="modal">
        <div class="content">本商品销售范围不支持您所在的社区或库存不足</div>
        <footer class="footer">
          <div class="button-group compact nesting">
            <a class="button square text-primary cancel">放弃</a>
            <a class="button square text-primary text-strong submit">去完善</a>
          </div>
        </footer>
      </div>
    </div>

    <div id="modalConfirm3" class="modal-layer">
      <div class="modal" data-nested="true">
        <h3 class="title">温馨提示</h3>
        <div class="content">这是一个弹窗嵌套实现范例，用于展示弹窗层叠状况</div>
        <footer class="footer">
          <div class="button-group compact nesting">
            <a class="button square text-primary cancel">取消</a>
            <a class="button square text-primary text-strong submit">查看</a>
          </div>
        </footer>
      </div>
    </div>

  </div>

  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>
<script type="text/javascript">

  function buildModal(selector) {
    var frag = $(selector).html();
    return $(frag);
  }

  $(document).off('click', 'button[data-modal]').on('click', 'button[data-modal]', function() {
    var selector = $(this).data('modal');
    var modal = buildModal(selector).addClass('modal-in');
    $('<div class="modal-layer modal-layer-in" />').append(modal).appendTo('body');
  });

  $(document).off('click', '.modal > .footer .button').on('click', '.modal > .footer .button', function() {
    var button = $(this);
    var modal = button.closest('.modal');
    var layer = modal.parent();
    modal.removeClass('modal-in').addClass('modal-out').on('animationend webkitAnimationEnd', function() {
      $(this).remove();
    });
    
    // 弹窗嵌套
    if (modal.data('nested')) {
      layer.append($($('#modalAlert1').html()).addClass('modal-in'));  
    }
    // 无嵌套关闭
    else {
      layer.removeClass('modal-layer-in').addClass('modal-layer-out').on('transitionend webkitTransitionEnd', function() {
        $(this).remove();
      });
    }
  });
</script>