<div class="ex-page">
  <div class="page-header">
    <h4>Picker</h4>
    <p class="text-gray text-sm">多列选择器</p>
  </div>

  <div class="vspace hspace">
    <button class="button default" data-picker="#picker1">单列选择器</button>
    <button class="button default" data-picker="#picker2">多列选择器</button>
    <button class="button default" data-picker="#picker3">时间选择器</button>
  </div>
  
  <div id="pickers">

    <div id="picker1" class="picker-layer" data-dismiss="true">
      <div class="picker">
        <div class="header">
          <a class="menu text-gray" data-dismiss="true">关闭</a>
          <h4 class="title">标题</h4>
          <a class="menu text-link" data-dismiss="true">确定</a>
        </div>
        <div class="content">
          <div class="group">
            <div class="roller">
              <div class="item">北京</div>
              <div class="item">上海</div>
              <div class="item">天津</div>
              <div class="item">重庆</div>
              <div class="item">广州</div>
              <div class="item">深圳</div>
              <div class="item">南京</div>
              <div class="item">西安</div>
              <div class="item">苏州</div>
              <div class="item">武汉</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="picker2" class="picker-layer" data-dismiss="true">
      <div class="picker">
        <div class="header">
          <a class="menu text-gray" data-dismiss="true">关闭</a>
          <h4 class="title">标题</h4>
          <a class="menu text-link" data-dismiss="true">确定</a>
        </div>
        <div class="content">
          <div class="group">
            <div class="roller">
              <div class="item">北京</div>
              <div class="item">上海</div>
              <div class="item">天津</div>
              <div class="item">重庆</div>
              <div class="item">广州</div>
              <div class="item">深圳</div>
              <div class="item">南京</div>
              <div class="item">西安</div>
              <div class="item">苏州</div>
              <div class="item">武汉</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">朝阳区</div>
              <div class="item">海淀区</div>
              <div class="item">东城区</div>
              <div class="item">西城区</div>
              <div class="item">昌平区</div>
              <div class="item">顺义区</div>
              <div class="item">房山区</div>
              <div class="item">通州区</div>
              <div class="item">大兴区</div>
              <div class="item">延庆区</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">大钟寺</div>
              <div class="item">中关村</div>
              <div class="item">海淀黄庄</div>
              <div class="item">东直门</div>
              <div class="item">燕莎国际</div>
              <div class="item">中坤广场</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="picker3" class="picker-layer" data-dismiss="true">
      <div class="picker">
        <div class="header">
          <a class="menu text-gray" data-dismiss="true">关闭</a>
          <h4 class="title">标题</h4>
          <a class="menu text-link" data-dismiss="true">确定</a>
        </div>
        <div class="content">
          <div class="group">
            <div class="roller">
              <div class="item">2001年</div>
              <div class="item">2002年</div>
              <div class="item">2003年</div>
              <div class="item">2004年</div>
              <div class="item">2005年</div>
              <div class="item">2006年</div>
              <div class="item">2007年</div>
              <div class="item">2008年</div>
              <div class="item">2009年</div>
              <div class="item">2010年</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">1月</div>
              <div class="item">2月</div>
              <div class="item">3月</div>
              <div class="item">4月</div>
              <div class="item">5月</div>
              <div class="item">6月</div>
              <div class="item">7月</div>
              <div class="item">8月</div>
              <div class="item">9月</div>
              <div class="item">10月</div>
              <div class="item">11月</div>
              <div class="item">12月</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">1日</div>
              <div class="item">2日</div>
              <div class="item">3日</div>
              <div class="item">4日</div>
              <div class="item">5日</div>
              <div class="item">6日</div>
              <div class="item">7日</div>
              <div class="item">8日</div>
              <div class="item">9日</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">1时</div>
              <div class="item">2时</div>
              <div class="item">3时</div>
              <div class="item">4时</div>
              <div class="item">5时</div>
              <div class="item">6时</div>
              <div class="item">7时</div>
              <div class="item">8时</div>
              <div class="item">9时</div>
            </div>
          </div>
          <div class="group">
            <div class="roller">
              <div class="item">0分</div>
              <div class="item">5分</div>
              <div class="item">10分</div>
              <div class="item">15分</div>
              <div class="item">20分</div>
              <div class="item">25分</div>
              <div class="item">30分</div>
              <div class="item">35分</div>
              <div class="item">40分</div>
              <div class="item">45分</div>
              <div class="item">50分</div>
              <div class="item">55分</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>

<script type="text/javascript">
  $(document).off('click', '.button[data-picker]').on('click', '.button[data-picker]', function() {
    var selector = $(this).data('picker');
    $(selector).addClass('picker-layer-in');
  });
  $(document).off('click', '.picker-layer').on('click', '.picker-layer', function(e) {
    if ($(e.target).is('[data-dismiss="true"]')) {
      var picker = $(this).closest('.picker-layer');
      picker.removeClass('picker-layer-in').addClass('picker-layer-out').on('animationend webkitAnimationEnd', function() {
        $(this).removeClass('picker-layer-out');
      });
    }
  });
</script>