<div class="ex-page">
  <div class="page-header">
    <h4>Search</h4>
    <p class="text-gray text-sm">搜索栏</p>
  </div>

  <div class="vspace">

    <div class="list compact">
      <div class="item-divider">默认风格</div>
      <div class="item" ui-mode="0px">
        <form class="search" onsubmit="return false">
          <label class="trigger">
            <i class="icon text-gray">&#xe60a;</i>
            <input type="search" class="input" placeholder="搜索" required />
            <i class="icon text-light">&#xe6a0;</i>
          </label>
        </form>
      </div>

      <div class="item-divider">取消按钮</div>
      <div class="item" ui-mode="0px">
        <form class="search" onsubmit="return false">
          <label class="trigger">
            <i class="icon text-gray">&#xe60a;</i>
            <input type="search" class="input" placeholder="搜索" required />
            <i class="icon text-light">&#xe6a0;</i>
            <a class="cancel">取消</a>
          </label>
        </form>
      </div>
    </div>
    <div id="searchResults" class="list compact" style="display: none">
      <div class="item tapable">
        <div class="text">
          <p>实时搜索文本</p>
        </div>
        <i class="icon text-gray">&#xe61a;</i>
      </div>
      <div class="item tapable">
        <div class="text">
          <p>实时搜索文本</p>
        </div>
        <i class="icon text-gray">&#xe61a;</i>
      </div>
      <div class="item tapable">
        <div class="text">
          <p>实时搜索文本</p>
        </div>
        <i class="icon text-gray">&#xe61a;</i>
      </div>
      <div class="item tapable">
        <div class="text">
          <p>实时搜索文本</p>
        </div>
        <i class="icon text-gray">&#xe61a;</i>
      </div>
    </div>
  </div>

  <footer class="vspace btm-fixed">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><img width="90" src="./images/footer.png" /></a>
    </div>
  </footer>
</div>

<script type="text/javascript">
  $(document).off('input', 'form.search .input').on('input', 'form.search  .input', function() {
    $(this).closest('.list').next('#searchResults').css('display', $(this).val() ? 'block' : 'none');
  });
  $(document).off('click', 'form.search .input + .icon').on('click', 'form.search .input + .icon', function() {
    $(this).siblings('.input').val('').trigger('input');
  });
  $(document).off('click', 'form.search .input ~ .cancel').on('click', 'form.search .input ~ .cancel', function(e) {
    e.stopPropagation();
    console.log(123);
    var input = $(this).siblings('.input').val('').trigger('input');
    // 取消聚焦
    setTimeout(function() {
      input.blur();
    });
  });
</script>
