<div class="ex-page" style="overflow: hidden;">
  <div class="page-header">
    <h4>ActionSheet</h4>
    <p class="text-gray text-sm">弹出式菜单</p>
  </div>

  <div class="vspace hspace">
    <button class="button default" data-sheet="#sheet1">弹出式菜单1</button>
    <button class="button default" data-sheet="#sheet2">弹出式菜单2</button>
    <button class="button default" data-sheet="#sheet3">弹出式菜单3</button>
  </div>
  
  <div id="sheet1" class="sheet-layer">
    <div class="sheet">
      <div class="menus">
        <div class="item">操作选项</div>
        <div class="item">操作选项</div>
        <div class="item">操作选项</div>
      </div>
      <div class="menus">
        <div class="item" data-dismiss="true">取消</div>
      </div>
    </div>
  </div>

  <div id="sheet2" class="sheet-layer">
    <div class="sheet">
      <div class="menus">
        <div class="item label">请选择</div>
        <div class="item text-driving">Apple Pay</div>
        <div class="item text-primary">支付宝</div>
        <div class="item text-success">微信支付</div>
      </div>
      <div class="menus">
        <div class="item text-gray" data-dismiss="true">取消</div>
      </div>
    </div>
  </div>
  
  <div id="sheet3" class="sheet-layer">
    <div class="sheet">
      <div class="menus">
        <div class="item label">
          <h4>我是标题</h4>
          这里可以补充描述信息
        </div>
        <div class="item text-warning">满仓</div>
        <div class="item text-success">空仓</div>
      </div>
      <div class="menus">
        <div class="item text-gray" data-dismiss="true">取消</div>
      </div>
    </div>
  </div>

  <footer class="vspace">
    <div class="text-center text-sm">
      <a class="link" href="javascript:history.back();"><i class="icon">&#xe60e;</i>返回</a>
    </div>
  </footer>
</div>

<script type="text/javascript">
  $(document).off('click', '.button[data-sheet]').on('click', '.button[data-sheet]', function() {
    var selctor = $(this).data('sheet');
    $(selctor).addClass('sheet-layer-in');
  });
  $(document).off('click', '.sheet-layer [data-dismiss]').on('click', '.sheet-layer [data-dismiss]', function() {
    $(this).closest('.sheet-layer').removeClass('sheet-layer-in').addClass('sheet-layer-out').on('animationend webkitAnimationEnd', function() {
      $(this).removeClass('sheet-layer-out');
    });
  });
</script>