<div class="ex-page">
  <div class="page-header">
    <h4>Tabbar</h4>
    <p class="text-gray text-sm">吸底Tab导航</p>
  </div>

  <footer class="bar btm-fixed">
    <div class="tabbar">
      <a class="item active">
        <img class="icon" src="//img1.qdingnet.com/881f0984ac67e76d62543052f2e3088d.png" />
        <span class="label">首页</span>
      </a>
      <a class="item">
        <img class="icon" src="//img1.qdingnet.com/881f0984ac67e76d62543052f2e3088d.png" />
        <span class="label">圈子</span>
      </a>
      <a class="item">
        <img class="icon" src="//img1.qdingnet.com/881f0984ac67e76d62543052f2e3088d.png" />
        <span class="label">发现</span>
      </a>
      <a class="item">
        <img class="icon" src="//img1.qdingnet.com/881f0984ac67e76d62543052f2e3088d.png" />
        <span class="label">我的</span>
      </a>
    </div>
  </footer>
</div>
<script type="text/javascript">
  $(document).off('click', '.tabbar > .item').on('click', '.tabbar > .item', function () {
    $(this).addClass('active').siblings().removeClass('active');
    // replace image as active status
    $(this).parent().find('.icon img').each(function(img) {
      var src = $(this).attr('src');
      if ($(this).closest('.item').is('.active')) {
        $(this).attr('src', src.replace(/(-a)?\.png/, '-a.png'));
      }
      else {
        $(this).attr('src', src.replace(/-a\.png/, '.png'));
      }
    });
  });
</script>
