@barHeight: 44px;
@barBgColor: #f9f9f9;
@navbarHeight: 44px;
@navbarBgColor: rgba(247, 247, 247, 1);
@tabbarBgColor: #f9f9f9;
@tabIconSize: 25px;
@tabbarHeight: 50px;
@tabFontSize: 11px;
@tabTextColor: #7f7f7f;
