@listGap: 10px;
@listFontSize: 16px;
@listBorderColor: #D9D9D9;
@listItemColor: #333;
@listItemBg: #FFFFFF;
@listItemGapV: 10px;
@listItemGapH: 15px;
@listItemHeight: 44px;
@listWidgetGap: 12px;

// 高度为44px，减去上下padding的行高
@listItemLineHeight: @listItemHeight - 2 * @listItemGapV;

// 分割元素字号
@listItemDividerFontSize: 14px;

// 补充信息
@listItemBriefGap: 2px;
@listItemBriefColor: #999;
@listItemBriefFontSize: 14px;
@listItemBriefLineHeight: 18px;

// @listItemsMarginTop:unit(20 / @weuiCellFontSize, em);
@listItemLabelWidth: 105px;